# --- COMMON (Dependencies & Logs) ---
node_modules/
dist/
build/
out/
en-vi/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- NEXT.JS (Client Directory) ---
.next/
next-env.d.ts
*.tsbuildinfo
.vercel

# --- NESTJS (Server Directory) ---
# Ignore test output only; DO NOT ignore "test/" folder as it contains .spec.ts files
coverage/
.nyc_output/
test-results/
test/
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- ENVIRONMENT & SECURITY ---
.env
.env.*
!.env.example
.env.local

# --- IDE & OS ---
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- TEMP & CERTIFICATES ---
.temp/
.tmp/
*.pem