# --- COMMON (Dependencies & Logs) ---
node_modules/
dist/
build/
out/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- NEXT.JS (Thư mục client) ---
.next/
next-env.d.ts
*.tsbuildinfo
.vercel

# --- NESTJS (Thư mục server) ---
# Chỉ ignore folder kết quả test, KHÔNG ignore folder "test/" vì chứa code .spec.ts
coverage/
.nyc_output/
test-results/
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- DỮ LIỆU TỪ ĐIỂN (Thư mục en-vi) ---
# Chỉ ignore các file dữ liệu thô cực nặng, GIỮ LẠI convert.js và en_vi.json
en_vi/
en-vi/*.dict
en-vi/*.idx
en-vi/*.ifo

# --- MÔI TRƯỜNG (Security) ---
.env
.env.*
!.env.example
.env.local

# --- IDE & HỆ ĐIỀU HÀNH ---
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- TEMP ---
.temp/
.tmp/
*.pem